@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .section-heading {
        @apply font-semibold text-2xl text-gray-800 dark:text-gray-200 leading-tight;
    }

    .input-text {
        @apply w-full rounded-md border-gray-300 dark:border-gray-700 dark:bg-gray-900 dark:text-gray-300
    }

    .tab {
        @apply bg-gray-300 rounded-t-md px-8 py-2 text-center;
    }

    .tab-active {
        @apply bg-white border-t-green-800 border-t-4;
    }

    .button {
        @apply rounded-md border border-slate-300 bg-white px-2.5 py-1.5 text-center text-sm font-semibold text-black shadow-sm hover:bg-slate-100 ease-in duration-100
    }

    .button-green {
        @apply w-48 mx-auto rounded-md border border-transparent bg-green-500 px-2.5 py-1.5 text-center text-sm font-semibold text-white hover:text-green-500 shadow-sm hover:bg-green-200 ease-in duration-200 hover:border hover:border-green-500
    }

    .h2 {
        @apply text-center mb-4 mt-4 text-xl font-bold text-gray-800
    }
}

[x-cloak] {
    display: none !important;
}

.breadcrumb-item:not(:last-child)::after {
    content: '/';
    position: absolute;
    top: 0;
    right: -11px;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}